<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
</head>
<body>
  <div>
      <div class="row m-3">
          <div class="col-md-6 offset-3">
              <div class="card">
                  <div class="card-header">
                      <h2>Authentication</h2>
                      <div class="card-body">
                          <form method="post" th:action="@{/login}">
                              <div class="mb-3 mt-6">
                                  <label for="username" class="form-label">username :</label>
                                  <input class="form-control" type="text" placeholder="username" id="username" name="username">
                              </div>
                              <div class="mb-3 mt-6">
                                  <label for="password" class="form-label">passwod :</label>
                                  <input class="form-control" type="password" placeholder="password" id="password" name="password">
                              </div>
                              <div>
                                  <button class="btn btn-primary" type="submit">login</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>